@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* code for color variables */
:root {
  --color-primary: #1599B1;
  --color-secondary: #0C7688;
  --color-tertiary: #159ab184;
}

/* background: linear-gradient(180deg, #1599B1 0%, #0C7688 100%); */


/* font family for everything */
body {
  font-family: 'IBM Plex Sans', sans-serif;
}